[submodule "external/alphatwirl_interface"]
	path = external/alphatwirl_interface
	url = https://github.com/alphatwirl/alphatwirl-interface.git
[submodule "external/alphatwirl"]
	path = external/alphatwirl
	url = https://github.com/alphatwirl/alphatwirl.git
